h1 {
  background-color: #329da8;
  text-align: center;
  letter-spacing: -2px;
  text-color: #000000;
}
h2 {
  background-color: #329da8;
  text-align: center;
  letter-spacing: -2px;
  text-color: #000000;
}
th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  color: black;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
  font-size: 17px;
}

.topnav a:hover {
  background-color: #329da8;
  color: black;
}

.topnav a.active {
  background-color: #329da8;
  color: white;
}
