<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Bedwars</title>
    <meta name="description" content="Hypixel Leaderboard's Bedwars section, showing specific player data straight from Hypixel.net.">
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/static/Bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/displayDetailsController.js"></script>

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ba24816bac78d265ef8b4df6f/73fc8061a72096f7cad6d1518.js");</script>

    <script type="text/javascript">

        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="https://contextual.media.net/dmedianet.js?cid=8CU255VU6" async="async"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFPKGQH');</script>
    <!-- End Google Tag Manager -->

    {% set GAME_MODES_BEDWARS = ['', 'eight_one_', 'eight_two_', 'four_three_', 'four_four_', 'two_four_', 'eight_one_rush_', 'eight_two_rush_', 'four_four_rush_', 'eight_one_ultimate_', 'eight_two_ultimate_', 'four_four_ultimate_', 'eight_two_lucky_', 'four_four_lucky_', 'castle_'] %}
    {% set REQUIRED_STATS_BEDWARS = ['kills_bedwars', 'deaths_bedwars', '!kills_bedwars;deaths_bedwars', 'final_kills_bedwars', 'final_deaths_bedwars', '!final_kills_bedwars;final_deaths_bedwars', 'wins_bedwars', 'losses_bedwars', '!wins_bedwars;losses_bedwars', 'beds_broken_bedwars', 'beds_lost_bedwars', '!beds_broken_bedwars;beds_lost_bedwars'] %}
    {% set EXTRA_STATS_BEDWARS = ['winstreak', 'games_played_bedwars', 'items_purchased_bedwars', 'permanent _items_purchased_bedwars', 'resources_collected_bedwars', 'iron_resources_collected_bedwars', 'gold_resources_collected_bedwars', 'diamond_resources_collected_bedwars', 'emerald_resources_collected_bedwars'] %}
    {% set GAME_MODES_LISTING = {"": "All Time", "eight_one_": "Solos", "eight_two_": "Duos", "four_three_": "3v3v3v3", "four_four_": "4v4v4v4", "eight_one_rush_": "Solos Rush", "eight_two_rush_": "Duos Rush", "four_four_rush_": "4v4v4v4 Rush", "two_four_": "4v4", "eight_one_ultimate_": "Solos Ultimate", "eight_two_ultimate_": "Duos Ultimate", "four_four_ultimate_": "4v4v4v4 Ultimate", "eight_two_lucky_": "Duos Lucky", "four_four_lucky_": "4v4v4v4 Lucky", "castle_": "Castle"} %}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFPKGQH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="row">
        <div class="topnav col-sm-6">
            <a href="/home/">Home</a>
            <a href="/leaderboards/">Leaderboards</a>
            <a class="active" href="/bedwars/">Bedwars</a>
            <a href="/skywars/">Skywars</a>
            <a href="/duels/">Duels</a>
        </div>
        <div class="col-sm-4">
            <h1>Hypixel Leaderboards</h1>
        </div>
        <div class="col-sm-2">
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/terms-of-service/">Terms of service</a>
        </div>
    </div>

    <h2>Bedwars</h2>

    <form method="POST">
        <div class="row">
            <div class="col-sm-2">
                <p>Username: </p>
            </div>
            <div class="col-sm-2">
                <input type="text" name="playerName" alt="Username">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <input type="submit" value="Submit">
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-4">
                <a href="/suggestions/">Got any suggestions?</a>
            </div>

        </div>
    </form>

    <h2>{{data['displayname']}}</h2>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="tableFixHead table-hover table-bordered table-striped table w-100">
                <tr>
                    <th></th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>KDR</th>
                    <th>Final Kills</th>
                    <th>Final Deaths</th>
                    <th>Final KDR</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win/Loss Ratio</th>
                    <th>Beds Broken</th>
                    <th>Beds Lost</th>
                    <th>Beds Broken/Lost Ratio</th>
                </tr>
                {% for mode in GAME_MODES_BEDWARS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in REQUIRED_STATS_BEDWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if bedwarsData|tableTry(mode + tempList[0]) != "-" and bedwarsData|tableTry(mode + tempList[1]) != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (bedwarsData[mode + tempList[0]] / bedwarsData[mode + tempList[1]])}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{bedwarsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
            <!--<p>Ad placeholder</p>-->
            <div id="612105683">
                <script type="text/javascript">
                    try {
                        window._mNHandle.queue.push(function (){
                            window._mNDetails.loadTag("612105683", "160x600", "612105683");
                        });
                    }
                    catch (error) {}
                </script>
            </div>
        </div>
    </div>

    <div class="pl-2">
        <button onclick="toggle_visibility('extraDetailsTable');" class="btn btn-light">Display Details</button>
    </div>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="table-hover table-bordered table-striped table w-100" id="extraDetailsTable" style="display:none">
                <tr>
                    <th></th>
                    <th>Winstreak</th>
                    <th>Games Played</th>
                    <th>Items Purchased</th>
                    <th>Permanent Items Purchased</th>
                    <th>Resources Collected</th>
                    <th>Iron Collected</th>
                    <th>Gold Collected</th>
                    <th>Diamonds Collected</th>
                    <th>Emeralds Collected</th>
                </tr>
                {% for mode in GAME_MODES_BEDWARS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in EXTRA_STATS_BEDWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if bedwarsData|tableTry(mode + tempList[0]) != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (bedwarsData|tableTry(mode + tempList[0]) / bedwarsData|tableTry(mode + tempList[1]))}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{bedwarsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
            <p>Ad placeholder</p>
        </div>
    </div>
</body>
</html>