{% extends "rootLayout.html" %}
{% block title %}{{data['displayname']}} - Bedwars{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboard's Bedwars section, showing specific player data straight from Hypixel.net.">
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="/static/displayDetailsController.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock %}

{% set GAME_MODES_BEDWARS = ['', 'eight_one_', 'eight_two_', 'four_three_', 'four_four_', 'two_four_', 'eight_one_rush_', 'eight_two_rush_', 'four_four_rush_', 'eight_one_ultimate_', 'eight_two_ultimate_', 'four_four_ultimate_', 'eight_two_lucky_', 'four_four_lucky_', 'eight_two_voidless_', 'four_four_voidless_', 'castle_'] %}
{% set REQUIRED_STATS_BEDWARS = ['kills_bedwars', 'deaths_bedwars', '!kills_bedwars;deaths_bedwars', 'final_kills_bedwars', 'final_deaths_bedwars', '!final_kills_bedwars;final_deaths_bedwars', 'wins_bedwars', 'losses_bedwars', '!wins_bedwars;losses_bedwars', 'beds_broken_bedwars', 'beds_lost_bedwars', '!beds_broken_bedwars;beds_lost_bedwars'] %}
{% set EXTRA_STATS_BEDWARS = ['winstreak', 'games_played_bedwars', 'items_purchased_bedwars', 'permanent _items_purchased_bedwars', 'resources_collected_bedwars', 'iron_resources_collected_bedwars', 'gold_resources_collected_bedwars', 'diamond_resources_collected_bedwars', 'emerald_resources_collected_bedwars'] %}
{% set GAME_MODES_LISTING = {"": "All Time", "eight_one_": "Solos", "eight_two_": "Duos", "four_three_": "3v3v3v3", "four_four_": "4v4v4v4", "eight_one_rush_": "Solos Rush", "eight_two_rush_": "Duos Rush", "four_four_rush_": "4v4v4v4 Rush", "two_four_": "4v4", "eight_one_ultimate_": "Solos Ultimate", "eight_two_ultimate_": "Duos Ultimate", "four_four_ultimate_": "4v4v4v4 Ultimate", "eight_two_lucky_": "Duos Lucky", "four_four_lucky_": "4v4v4v4 Lucky", "castle_": "Castle", "eight_two_voidless_": "Duos Voidless", "four_four_voidless_": "4v4v4v4 Voidless"} %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block displayTitle %}Bedwars{% endblock %}

    {% block usernameEntryForm %}{{ super() }}{% endblock %}

    {% block content %}
    <h1 class="mt-4">{{data['displayname']|nameWrapper()|safe}}</h1>
    <div class="card mb-4">
        <div class="card-header">
            <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
            General Stats
        </div>
        <div class="card-body">
            <table class="table tableFixHead table-hover table-bordered table-striped table w-100">
                <tr>
                    <th></th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>KDR</th>
                    <th>Final Kills</th>
                    <th>Final Deaths</th>
                    <th>Final KDR</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win/Loss Ratio</th>
                    <th>Beds Broken</th>
                    <th>Beds Lost</th>
                    <th>Beds Broken/Lost Ratio</th>
                </tr>
                {% for mode in GAME_MODES_BEDWARS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in REQUIRED_STATS_BEDWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if bedwarsData|tableTry(mode + tempList[0]) != "-" and bedwarsData|tableTry(mode + tempList[1]) != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (bedwarsData[mode + tempList[0]] / bedwarsData[mode + tempList[1]])}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{bedwarsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="pl-2">
        <button onclick="toggle_visibility('extraDetailsTable');" class="btn btn-light">Display Details</button>
    </div>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="table-hover table-bordered table-striped table w-100" id="extraDetailsTable" style="display:none">
                <tr>
                    <th></th>
                    <th>Winstreak</th>
                    <th>Games Played</th>
                    <th>Items Purchased</th>
                    <th>Permanent Items Purchased</th>
                    <th>Resources Collected</th>
                    <th>Iron Collected</th>
                    <th>Gold Collected</th>
                    <th>Diamonds Collected</th>
                    <th>Emeralds Collected</th>
                </tr>
                {% for mode in GAME_MODES_BEDWARS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in EXTRA_STATS_BEDWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if bedwarsData|tableTry(mode + tempList[0]) != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (bedwarsData|tableTry(mode + tempList[0]) / bedwarsData|tableTry(mode + tempList[1]))}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{bedwarsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">

        </div>
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}