{% extends "rootLayout.html" %}
{% block title %}Duels{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboard's Duels section, showing specific player data straight from Hypixel.net.">
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="/static/displayDetailsController.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% set GAME_MODES_DUELS = ['bridge_duel_', 'bridge_doubles_', 'sumo_duel_', 'uhc_duel_', 'uhc_doubles_', 'op_duel_', 'sw_duels_', 'sw_doubles_', 'blitz_duel_', 'combo_duel_', 'no_debuff_', 'classic_duel_', 'bowspleef_duel_'] %}
{% set REQUIRED_STATS_DUELS = ['prestige', 'kills', 'deaths', '!kills;deaths', 'wins', 'losses', '!wins;losses', '!bow_hits;bow_shots', '!melee_hits;melee_swings'] %}
{% set GAME_MODES_LISTING = {'bridge_duel_': '1v1 Bridge', 'bridge_doubles_': '2v2 Bridge', 'sumo_duel_': '1v1 Sumo', 'uhc_duel_': '1v1 UHC', 'uhc_doubles_': '2v2 UHC', 'op_duel_': '1v1 OP', 'sw_duels_': '1v1 Skywars', 'blitz_duel_': '1v1 Blitz', 'combo_duel_': '1v1 Combo', 'no_debuff_': '1v1 No Debuff', 'bowspleef_duel_': '1v1 Bow Spleef', 'classic_duel_': '1v1 Classic', 'sw_doubles_': '2v2 Skywars'} %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block displayTitle %}Duels{% endblock %}

    {% block usernameEntryForm %}{{ super() }}{% endblock %}

    {% block content %}
    <h2>{{data['displayname']|duelsNameWrapper()|safe}}</h2>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="tableFixHead table-hover table-bordered table-striped table w-100">
                <tr>
                    <th></th>
                    <th>Prestige</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>KDR</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win/Loss Ratio</th>
                    <th>Bow Hit/Miss Ratio</th>
                    <th>Melee Hit/Miss Ratio</th>
                </tr>
                {% for mode in GAME_MODES_DUELS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in REQUIRED_STATS_DUELS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if duelsData|tableTry(mode + tempList[0]) != "-" and duelsData|tableTry(mode + tempList[1]) != "-" and (duelsData|tableTry(mode + tempList[0]) != 0 and duelsData|tableTry(mode + tempList[1]) != 0)%}
                                    <td style="font-weight: bold">{{'%0.2f' % (duelsData[mode + tempList[0]] / duelsData[mode + tempList[1]])}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% elif stat == 'prestige' %}
                                <td>{{ mode|prestigeRank(duelsData) }}</td>
                            {% else %}
                                <td>{{duelsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}