{% extends "rootLayout.html" %}
{% block title %}Bedwars{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboard's Bedwars section, showing specific player data straight from Hypixel.net.">
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="/static/displayDetailsController.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% set GAME_MODES_BEDWARS = ['mw_duels_'] %}
{% set REQUIRED_STATS_BEDWARS = ['class'] %}
{% set GAME_MODES_LISTING = {'mw_duels_': "Mega Walls Duels"} %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block topnav %}{{ super() }}{% endblock %}

    {% block displayTitle %}Duels{% endblock %}

    {% block usernameEntryForm %}{{ super() }}{% endblock %}

    {% block content %}
    <h2>{{data['displayname']}}</h2>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="tableFixHead table-hover table-bordered table-striped table w-100">
                <tr>
                    <th></th>
                    <th>Class</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for mode in GAME_MODES_BEDWARS %}
                    <tr>
                        <th>{{GAME_MODES_LISTING[mode]}}</th>

                        {% for stat in REQUIRED_STATS_BEDWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if duelsData|tableTry(mode + tempList[0]) != "-" and duelsData|tableTry(mode + tempList[1]) != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (duelsData[mode + tempList[0]] / duelsData[mode + tempList[1]])}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{duelsData|tableTry(mode + stat)}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
            <script type="text/javascript" src="https://uprimp.com/bnr.php?section=General&pub=559955&format=160x600&ga=g"></script>
            <noscript><a href="https://yllix.com/publishers/559955" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/160x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a></noscript>
        </div>
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}