{% extends "rootLayout.html" %}
{% block title %}Player Menu{% endblock %}
{% block meta_desc %}
<meta name="description" content="Menu for Players to select statistics.">
{% endblock %}

{% block extra_scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block topnav %}{{ super() }}{% endblock %}

    {% block displayTitle %}Game Counts{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}

    <div class="listOfButtons">
    {% for item in data['games'] %}

            {% if data|doesModesExist(['games', item, 'modes']) %}
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        {{ item|capitalizeFirstLetter() }} - {{ data['games'][item]['players'] }}
                    </button>

                    <div class="dropdown-menu">
                        {% for gameMode in data['games'][item]['modes'] %}
                            <a class="dropdown-item" href="#">{{ gameMode|capitalizeFirstLetter() }}: {{ data['games'][item]['modes'][gameMode] }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}

                <button type="button" class="btn btn-info">
                    {{ item|capitalizeFirstLetter() }} - {{ data['games'][item]['players'] }}
                </button>

            {% endif %}

    {% endfor %}
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}