{% extends "rootLayout.html" %}
{% block title %}Player Menu{% endblock %}
{% block meta_desc %}
<meta name="description" content="Menu for Players to select statistics.">
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block topnav %}{{ super() }}{% endblock %}

    {% block displayTitle %}Game Counts{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}

    <div class="listOfButtons">
    <div class="btn-toolbar" role="toolbar">
    {% for item in data['games'] %}
            {% if data|doesModesExist(['games', item, 'modes']) %}

                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle mr-1 mb-1" data-toggle="dropdown">
                        {{ item|capitalizeFirstLetter() }} - {{ data['games'][item]['players'] }}
                    </button>

                    <div class="dropdown-menu">
                        {% for gameMode in data['games'][item]['modes'] %}
                            <a class="dropdown-item" href="#">{{ gameMode|capitalizeFirstLetter() }}: {{ data['games'][item]['modes'][gameMode] }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="btn-group">
                    <button type="button" class="btn btn-info mr-1 mb-1">
                        {{ item|capitalizeFirstLetter() }} - {{ data['games'][item]['players'] }}
                    </button>
                </div>

            {% endif %}
    {% endfor %}
    </div>
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}