<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <script data-ad-client="ca-pub-4000110191768629" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/bedwars/">Bedwars</a>
        <a href="/skywars/">Skywars</a>
    </div>

    <p>Most Recent Game Type: {{data['mostRecentGameType']|capitalizeFirstLetter}}</p>
    <p>Particle Pack: {{data['particlePack']|capitalizeFirstLetter}}</p>
    <p>Last Login: {{data['lastLogout']|format_datetime}}</p>
    <p>Current Outfit:</p>
    <p>Helmet: {{data['outfit']['HELMET']|capitalizeFirstLetter}}</p>
    <p>Chestplate: {{data['outfit']['CHESTPLATE']|capitalizeFirstLetter}}</p>
    <p>Leggings: {{data['outfit']['LEGGINGS']|capitalizeFirstLetter}}</p>
    <p>Boots: {{data['outfit']['BOOTS']|capitalizeFirstLetter}}</p>

    <footer>
        <a href="mailto:oliverlford@icloud.com?subject=Assistance Required">Contact Us</a>
    </footer>
</body>
</html>