<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <script data-ad-client="ca-pub-4000110191768629" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/bedwars/">Bedwars</a>
        <a href="/skywars/">Skywars</a>
    </div>

    <p>Most Recent Game Type: {{data['mostRecentGameType'][0]}}{{data['mostRecentGameType'][1:]|lower}}</p>
    <p>Particle Pack: {{data['particlePack'][0]}}{{data['particlePack'][1:]|lower}}</p>
    <p>Last Login: {{data['lastLogout']|format_datetime}}</p>
</body>
</html>