<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/static/Bootstrap/dist/css/bootstrap.min.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFPKGQH');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFPKGQH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <h1>{{gameType}}</h1>

    <div class="dropdown">
        {% for currentData in data %}
            <h3>{{currentData['prefix']}} {{currentData['title']}}</h3>
            {% for pos, uuid in currentData['leaders']|customEnumerate %}
                <p>{{pos + 1}} - {{uuid|getRankFromUUID}}</p>
            {% endfor %}

        {% endfor %}
    </div>
</body>
</html>