<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/static/Bootstrap/dist/css/bootstrap.min.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFPKGQH');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFPKGQH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="row">
        <div class="topnav col-sm-6">
            <a href="/home/">Home</a>
            <a href="/player/">Player Stats</a>
            <a class="active" href="/leaderboards/">Leaderboards</a>
        </div>
        <div class="col-sm-4">
            <h1>Hypixel Leaderboards</h1>
        </div>
        <div class="col-sm-2">
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/terms-of-service/">Terms of service</a>
        </div>
    </div>

    <h2>Leaderboards</h2>

    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/bedwars/'">Bedwars</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/skywars/'">Skywars</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/duels/'">Duels</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/arena/'">Arena</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/mcgo/'">MCGO</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/battleground/'">Battleground</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/survival-games/'">Survival Games</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/uhc/'">UHC</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/walls/'">Walls</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/paintball/'">Paintball</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/murder-mystery/'">Murder Mystery</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/super-smash/'">Super Smash</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/speed-uhc/'">Speed UHC</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/tntgames/'">TNT Games</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/gingerbread/'">Gingerbread</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/build-battle/'">Build Battle</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/arcade/'">Arcade</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/skyclash/'">Skyclash</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/quakecraft/'">Quakecraft</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/true-combat/'">True Combat</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/walls3/'">Walls 3</button>
    <button class="btn btn-dark" onclick="window.location.href='/leaderboards/vampirez/'">Vampirez</button>
</body>
</html>