{% extends "rootLayout.html" %}
{% block title %}Leaderboards{% endblock %}
{% block meta_desc %}
<meta name="description" content="Menu for players to select leaderboards.">
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block usernameEntryForm %}{{ super() }}{% endblock %}

    {% block content %}
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/bedwars/'">Bedwars</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/skywars/'">Skywars</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/duels/'">Duels</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/arena/'">Arena</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/mcgo/'">MCGO</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/battleground/'">Battleground</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/survival-games/'">Survival Games</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/uhc/'">UHC</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/walls/'">Walls</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/paintball/'">Paintball</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/murder-mystery/'">Murder Mystery</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/super-smash/'">Super Smash</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/speed-uhc/'">Speed UHC</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/tntgames/'">TNT Games</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/gingerbread/'">Gingerbread</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/build-battle/'">Build Battle</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/arcade/'">Arcade</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/skyclash/'">Skyclash</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/quakecraft/'">Quakecraft</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/true-combat/'">True Combat</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/walls3/'">Walls 3</button>
    <button class="btn btn-info" onclick="window.location.href='/leaderboards/vampirez/'">Vampirez</button>
    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}