{% extends "rootLayout.html" %}
{% block title %}{{gameType}}{% endblock %}
{% block meta_desc %}
<meta name="description" content="Leaderboards for players to see.">
{% endblock %}
{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block displayTitle %}{{gameType}}{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}
    <div class="listOfButtons">
        <div class="btn-toolbar" role="toolbar">
        {% for currentData in data %}

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle mr-1 mb-1" data-toggle="dropdown">
                    {{currentData['prefix']}} {{currentData['title']}}
                </button>

                <div class="dropdown-menu">
                    {% for pos, uuid in currentData['leaders']|customEnumerate %}
                        <a class="dropdown-item" href="#">{{pos + 1}} - {{uuid|getRankFromUUID}}</a>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}