{% extends "rootLayout.html" %}
{% block title %}Player Menu{% endblock %}
{% block meta_desc %}
<meta name="description" content="Menu for Players to select statistics.">
{% endblock %}

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block topnav %}{{ super() }}{% endblock %}

    {% block displayTitle %}Player Stats{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}
    <button onclick="window.location.href='/player/bedwars/'" class="btn btn-primary" type="button">Bedwars</button>
    <button onclick="window.location.href='/player/skywars/'" class="btn btn-primary" type="button">Skywars</button>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Duels
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}