{% extends "rootLayout.html" %}
{% block title %}Skyblock Profile{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboards' skyblock profile section">
{% endblock %}
{% block extra_scripts %}
<style>
.collapsible {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: grey;
  color: white;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
{% endblock %}

{% set PASSIVE_MOBS = ['_chicken', '_cow', '_pig', '_sheep', '_rabbit', '_bat'] %}
{% set HOSTILE_MOBS = ['_zombie', '_zombie_villager', '_skeleton', '_spider', '_enderman', '_endermite', '_witch', '_slime', '_lapis_zombie', '_splitter_spider', '_weaver_spider', '_voracious_spider', '_brood_mother_spider', '_jockey_skeleton', '_silverfish', '_blaze', '_wither_skeleton', '_magma_cube', '_magma_cube_boss', '_ghast', '_wolf', '_sea_walker', '_sea_guardian', '_sea_witch', '_sea_archer', '_monster_of_the_deep', '_catfish', '_sea_leech', '_guardian_defender', '_deep_sea_defender', '_water_hydra', '_sea_emperor', '_yeti', '_zealot', '_watcher', '_obsidian_defender', '_endstone_protector', '_ender_dragon', '_crypt_ghoul', '_golden_ghoul', '_pack_spirint', '_howling_spirit', '_soul_of_the_alpha', '_headless_horseman', '_frozen_steve', '_frosty'] %}
{% set STATS = ['kills', 'deaths', '!kills;deaths'] %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block usernameEntryForm %}{{ super() }}{% endblock %}

    {% block content %}

    {% if profileAsk %}
        <h4>Please choose your skyblock profile:</h4>

        {% for profile in data['stats']['SkyBlock']['profiles'] %}
            <form method="post">
                <input type="text" name="profile_id" style="display: none;" value="{{ data['stats']['SkyBlock']['profiles'][profile]['profile_id'] }}">
                <input type="submit" value="{{ data['stats']['SkyBlock']['profiles'][profile]['cute_name'] }}" class="btn btn-info">
            </form>
        {% endfor %}
    {% else %}
        {% for profile in skyblockData['members'] %}
            {% set currentProfile = skyblockData['members'][profile] %}
            <h2>Current Profile: {{ profile|currentName()|nameWrapper()|safe }}</h2>
            <h4>Last save: {{ currentProfile['last_save']|format_datetime() }}</h4>

            <button type="button" class="collapsible">Stats</button>
            <div class="content">
                <table class="table-hover table-bordered table-striped table w-100">
                    <tr>
                        <th></th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>KDR</th>
                    </tr>
                    {% for mob in PASSIVE_MOBS %}
                        <tr>
                            <td style="font-weight: bold; text-align: left;">{{ mob|capitalizeFirstLetter() }}</td>

                            {% for stat in STATS %}
                                {% if stat[:1] == '!' %}
                                    {% set tempList = stat[1:].split(';') %}
                                    {% if currentProfile['stats']|checkIfValid(tempList[0] + mob) != "-" and currentProfile['stats']|checkIfValid(tempList[1] + mob) != "-" %}
                                        <td style="font-weight: bold">{{'%0.2f' % (currentProfile['stats'][tempList[0] + mob] / currentProfile['stats'][tempList[1] + mob])}}</td>
                                    {% else %}
                                        <td style="font-weight: bold">-</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{currentProfile['stats']|checkIfValid(stat + mob)}}</td>
                                {% endif %}
                            {% endfor%}
                        </tr>
                    {% endfor %}
                    <td colspan="4" style="text-align: center; font-weight: bold;">Hostile Mobs</td>
                    {% for mob in HOSTILE_MOBS %}
                        <tr>
                            <td style="font-weight: bold; text-align: left;">{{ mob|capitalizeFirstLetter() }}</td>

                            {% for stat in STATS %}
                                {% if stat[:1] == '!' %}
                                    {% set tempList = stat[1:].split(';') %}
                                    {% if currentProfile['stats']|checkIfValid(tempList[0] + mob) != "-" and currentProfile['stats']|checkIfValid(tempList[1] + mob) != "-" %}
                                        <td style="font-weight: bold">{{'%0.2f' % (currentProfile['stats'][tempList[0] + mob] / currentProfile['stats'][tempList[1] + mob])}}</td>
                                    {% else %}
                                        <td style="font-weight: bold">-</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{currentProfile['stats']|checkIfValid(stat + mob)}}</td>
                                {% endif %}
                            {% endfor%}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <button type="button" class="collapsible">Crafted Generators</button>
            {% set sortedData = {} %}
            {% for generator in currentProfile['crafted_generators'] %}
                {% if sortedData|customTry2(generator|stripNumbers()) %}
                    {% set _ = sortedData[generator|stripNumbers()].append(generator) %}
                {% else %}
                    {% set _ = sortedData.update({generator|stripNumbers():[]}) %}
                    {% set _ = sortedData[generator|stripNumbers()].append(generator) %}
                {% endif %}
            {% endfor %}
            <div class="content">
                <table  class="table-hover table-bordered table-striped table w-100">
                    {% for data in sortedData %}
                        <tr>
                            <td style="font-weight: bold; text-align: left;">{{ data|capitalizeFirstLetter() }}</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(0) }}">I</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(1) }}">II</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(2) }}">III</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(3) }}">IV</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(4) }}">V</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(5) }}">VI</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(6) }}">VII</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(7) }}">VIII</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(8) }}">IX</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(9) }}">X</td>
                            <td class="{{ sortedData[data]|sort()|profileGeneratorTry(10) }}">XI</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}