<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%  block title %}{% endblock %} - Hypixel Leaderboards</title>
    {% block meta_desc %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <link rel="stylesheet" type="text/css" href="/static/Bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block extra_scripts %}{% endblock %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFPKGQH');</script>
    <!-- End Google Tag Manager -->
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                {% set skin = _|getSkin() %}
                <img class="img-responsive" height="64" width="64" src="{{ skin }}" alt="Sign In!" onclick="window.location.href='/sign-in/'">
                Hypixel Leaderboards
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboards/">Leaderboards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/watchdogstats/">Watchdog Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/game-counts/">Game Counts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Player Stats
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/player/bedwars/">Bedwars</a>
                            <a class="dropdown-item" href="/player/skywars/">Skywars</a>
                            <a class="dropdown-item" href="/player/duels/">Duels</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Skyblock
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/skyblock/bazaar/">Bazaar</a>
                            <a class="dropdown-item" href="/skyblock/auctions/">Auctions</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    {% block body %}
        {% block tag %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFPKGQH"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endblock %}



        {% block usernameEntryForm %}
            <form method="POST">
                <div class="row">
                    <div class="col-sm-2">
                        <p>Username: </p>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="playerName" alt="Username">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </form>
        {% endblock %}

        <div id="content">{% block content %}{% endblock %}</div>

        {% block footer %}
            <div class="row">
                <div class="footer-copyright text-center py-3">
                    <a href="mailto:oliverlford@icloud.com">Contact Us</a>
                    <a href="/privacy-policy/">Privacy Policy</a>
                    <a href="/terms-of-service/">Terms of service</a>
                </div>
            </div>
        {% endblock %}

        {% block end_scripts %}{% endblock %}

    {% endblock %}
</body>
</html>