{% extends "rootLayout.html" %}
{% block title %}Player Menu{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboards' skyblock homepage.">
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block topnav %}{{ super() }}{% endblock %}

    {% block displayTitle %}Game Counts{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}