<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/static/Bootstrap/dist/css/bootstrap.min.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFPKGQH');</script>
    <!-- End Google Tag Manager -->

    {% set GAME_MODES_SKYWARS = ['', '_solo_normal', '_solo_insane', '_team', '_team_insane', '_lab', '_lab_team'] %}
    {% set REQUIRED_STATS_SKYWARS = ['kills', 'deaths', '!kills;deaths', 'wins', 'losses', '!wins;losses'] %}
    {% set EXTRA_STATS_SKYWARS = [] %}

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFPKGQH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="row">
        <div class="topnav col-sm-6">
            <a href="/home/">Home</a>
            <a href="/bedwars/">Bedwars</a>
            <a href="/skywars/">Skywars</a>
            <a class="active" href="/duels/">Duels</a>
        </div>
        <div class="col-sm-4">
            <h1>Hypixel Leaderboards</h1>
        </div>
        <div class="col-sm-2">
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/terms-of-service/">Terms of service</a>
        </div>
    </div>

    <h1>Skywars</h1>

    <form method="POST">
        <div class="row">
            <div class="col-sm-2">
                <p>Username: </p>
            </div>
            <div class="col-sm-2">
                <input type="text" name="playerName" alt="Username">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <input type="submit" value="Submit">
            </div>
            <div class="col-sm-6"></div>
        </div>
    </form>

    <h1>{{data['displayname']}}</h1>

    <div class="row">
        <div class="col-sm-10 table-responsive pl-4">
            <table class="table-hover table-bordered table-striped table w-100">
                <tr>
                    <th></th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>KDR</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win/Loss Ratio</th>
                </tr>
                {% for mode in GAME_MODES_SKYWARS %}
                    <tr>
                        {% if mode == '' %} <th>All Time</th>
                        {% elif mode == '_solo_normal' %} <th>Solo Normal</th>
                        {% elif mode == '_solo_insane' %} <th>Solo Insane</th>
                        {% elif mode == '_team' %} <th>Team Normal</th>
                        {% elif mode == '_team_insane' %} <th>Team Insane</th>
                        {% elif mode == '_lab' %} <th>Solo Labs</th>
                        {% elif mode == '_lab_team' %} <th>Team Labs</th>
                        {% endif %}

                        {% for stat in REQUIRED_STATS_SKYWARS %}
                            {% if stat[:1] == '!' %}
                                {% set tempList = stat[1:].split(';') %}
                                {% if skywarsData[tempList[0] + mode] != "-" %}
                                    <td style="font-weight: bold">{{'%0.2f' % (skywarsData[tempList[0] + mode] / skywarsData[tempList[1] + mode])}}</td>
                                {% else %}
                                    <td style="font-weight: bold">-</td>
                                {% endif %}
                            {% else %}
                                <td>{{skywarsData[stat + mode]}}</td>
                            {% endif %}
                        {% endfor%}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
            <p>Ad holder</p>
        </div>
    </div>
</body>
</html>