{% extends "rootLayout.html" %}
{% block title %}Watchdog Stats{% endblock %}
{% block meta_desc %}
<meta name="description" content="Hypixel Leaderboard's Watchdog Stats section, showing data about the hypixel watchdog anticheat.">
{% endblock %}
{% block extra_scripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    {% block tag %}{{ super() }}{% endblock %}

    {% block displayTitle %}Watchdog Stats{% endblock %}

    {% block usernameEntryForm %}{% endblock %}

    {% block content %}

    <p>Watchdog bans in the last minute: {{ data['watchdog_lastMinute'] }}</p>
    <p>Staff bans in the last day: {{ data['staff_rollingDaily'] }}</p>
    <p>Watchdog bans in the last day: {{ data['watchdog_rollingDaily'] }}</p>
    <p>Total watchdog bans: {{ data['watchdog_total'] }}</p>
    <p>Total staff bans: {{ data['staff_total'] }}</p>

    {% endblock %}

    {% block footer %}{{ super() }}{% endblock %}

{% endblock %}